body{
    background-color: aqua;
}


h1{
    color: rgb(37, 187, 125);
    width: 550px;
    height: 50px;
    background-color: rgb(37, 63, 109);
}

#SelecionarMascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjetaMascota {
    width: 100px;
    height: 100px;
    background: olivedrab;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px ;
}

input{
    display: none;
}